<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_18038659.server.start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hit</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_18038659.server.hit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/jack/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hit</servlet-name>
        <url-pattern>/jack/move/hit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
          <location>/errorpage.jsp</location>
    </error-page>
</web-app>
